:root {
  --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: url("../public/images/wallpaperA.jpg");
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.site-container {
  max-width: 1100px;
  margin-inline: auto;
}
input::placeholder {
  color: #878787;
}
